ul{
    list-style-type: none;
    font-size: 2rem;
}
a{
    font-size: 1.5rem;
}
img{
    border: 5px solid aquamarine;
    height: 300px;
    padding: 1.5rem;
    margin: 3rem;
    border-radius: 50px;
    border-style: dashed;
    width: 25%;
    display: inline-block;
}
li{
    display: inline;
    padding: 2rem;
    border:  #620303 rgb(46, 199, 46) rgb(28, 28, 189);
}
*{
    font-size: 62.5%;
}
p{
    font-size: 1.6rem;
}
body{
    font-size: 2.5em;
}
span{
    font-size: 3rem;
}
li:last-child{
    border-right:none;
}